// *************************************
//
//   #NAV
//
// *************************************

// The nav object creates navigation items out of a `ul' or `ol'.

// Predefine the variables below in order to alter and enable specific features.
$tree-nav-padding:           $tree-base-spacing-unit !default;
$tree-nav-padding--tiny:     quarter($tree-nav-padding) !default;
$tree-nav-padding--small:    halve($tree-nav-padding) !default;
$tree-nav-padding--large:    double($tree-nav-padding) !default;

$tree-enable-nav--tiny:      false !default;
$tree-enable-nav--small:     false !default;
$tree-enable-nav--large:     false !default;
$tree-enable-nav--clean:     false !default;
$tree-enable-nav--stacked:   false !default;
$tree-enable-nav--fit:       false !default;





// 1. Reset/normalize some styles.
.#{$tree-namespace}nav,
%#{$tree-namespace}nav {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;

        > a {
            display: inline-block;
            padding: $tree-nav-padding;

            &:hover {
                text-decoration: none; // [1]
            }

        }

    }

}





@if ($tree-enable-nav--tiny == true) {

    // Tiny nav.

    .#{$tree-namespace}nav--tiny,
    %#{$tree-namespace}nav--tiny {

        li > a {
            padding: $tree-nav-padding--tiny;
        }

    }

}





@if ($tree-enable-nav--small == true) {

    // Small nav.

    .#{$tree-namespace}nav--small,
    %#{$tree-namespace}nav--small {

        li > a {
            padding: $tree-nav-padding--small;
        }

    }

}





@if ($tree-enable-nav--large == true) {

    // Large nav.

    .#{$tree-namespace}nav--large,
    %#{$tree-namespace}nav--large {

        li > a {
            padding: $tree-nav-padding--large;
        }

    }

}





@if ($tree-enable-nav--clean == true) {

    // `.nav--clean` - removes whitespace caused by `inline-block`.

    .#{$tree-namespace}nav--clean,
    %#{$tree-namespace}nav--clean {
        letter-spacing: -.31em;
        word-spacing: -.43em;
        white-space: nowrap;

        > li {
            letter-spacing: normal;
            word-spacing: normal;
        }

    }

}





@if ($tree-enable-nav--stacked == true) {

    // `.nav--stacked` extends `.nav` and throws the list into vertical mode.

    .#{$tree-namespace}nav--stacked,
    %#{$tree-namespace}nav--stacked {

        > li {
            display: list-item;

            > a {
                display: block;
            }

        }

    }

}





@if ($tree-enable-nav--fit == true) {

    // Force a nav to occupy 100% of the available width of its parent. Extends
    // `.nav`.

    .#{$tree-namespace}nav--fit,
    %#{$tree-namespace}nav--fit {
        display: table;
        width: 100%;

        > li {
            display: table-cell;

            > a {
                display: block;
            }

        }

    }

}
