// =============================================================================
//
// Name:          Nav
//
// Description:   Navigation items out of a `ul` or `ol`.
//
// Block:         `o-nav`
//
// Elements:      `o-nav__item`
//                `o-nav__link`
//
// Modifiers:     `o-nav--tiny`
//                `o-nav--small`
//                `o-nav--large`
//                `o-nav--huge`
//                `o-nav--clean`
//                `o-nav--stacked`
//                `o-nav--fit`
//
// Markup:
//
// <ul class="o-nav">
//     <li class="o-nav__item">
//         <a class="o-nav__link" href="#">Foo</a>
//     </li>
//     <li class="o-nav__item">
//         <a class="o-nav__link" href="#">Bar</a>
//     </li>
// </ul>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables below in order to alter and enable specific features.

$tree-nav-namespace:         $tree-namespace !default;

$tree-nav-padding:           $tree-base-spacing-unit !default;
$tree-nav-padding--tiny:       quarter($tree-nav-padding) !default;
$tree-nav-padding--small:        halve($tree-nav-padding) !default;
$tree-nav-padding--large:       double($tree-nav-padding) !default;
$tree-nav-padding--huge:     quadruple($tree-nav-padding) !default;

$tree-enable-nav--tiny:      false !default;
$tree-enable-nav--small:     false !default;
$tree-enable-nav--large:     false !default;
$tree-enable-nav--huge:      false !default;
$tree-enable-nav--clean:     false !default;
$tree-enable-nav--stacked:   false !default;
$tree-enable-nav--fit:       false !default;





// =============================================================================
// Block: `o-nav`
// =============================================================================

.#{$tree-nav-namespace}o-nav {
    margin:  0;
    padding: 0;
    list-style: none;
}

    // Element: `o-nav__item`
    // =========================================================================

    .#{$tree-nav-namespace}o-nav__item {
        display: inline-block;
    }

        // Element: `o-nav__link`
        // =====================================================================

        .#{$tree-nav-namespace}o-nav__link {
            display: inline-block;
            padding: $tree-nav-padding;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }





@if ($tree-enable-nav--tiny == true) {

    // Modifier: `o-nav--tiny`
    // =========================================================================

    .#{$tree-nav-namespace}o-nav--tiny {

        .#{$tree-nav-namespace}o-nav__link {
            padding: $tree-nav-padding--tiny;
        }

    }

}

@if ($tree-enable-nav--small == true) {

    // Modifier: `o-nav--small`
    // =========================================================================

    .#{$tree-nav-namespace}o-nav--small {

        .#{$tree-nav-namespace}o-nav__link {
            padding: $tree-nav-padding--small;
        }

    }

}

@if ($tree-enable-nav--large == true) {

    // Modifier: `o-nav--large`
    // =========================================================================

    .#{$tree-nav-namespace}o-nav--large {

        .#{$tree-nav-namespace}o-nav__link {
            padding: $tree-nav-padding--large;
        }

    }

}

@if ($tree-enable-nav--huge == true) {

    // Modifier: `o-nav--huge`
    // =========================================================================

    .#{$tree-nav-namespace}o-nav--huge {

        .#{$tree-nav-namespace}o-nav__link {
            padding: $tree-nav-padding--huge;
        }

    }

}





@if ($tree-enable-nav--clean == true) {

    // Modifier: `o-nav--clean`
    // Removes whitespace caused by `inline-block`.
    // =========================================================================

    .#{$tree-nav-namespace}o-nav--clean {
        letter-spacing: -.31em;
        word-spacing: -.43em;
        white-space: nowrap;

        .#{$tree-nav-namespace}o-nav__item {
            letter-spacing: normal;
            word-spacing: normal;
        }

    }

}





@if ($tree-enable-nav--stacked == true) {

    // Modifier: `o-nav--stacked`
    // Extends `.o-nav` and throws the list into vertical mode.
    // =========================================================================

    .#{$tree-nav-namespace}o-nav--stacked {

        .#{$tree-nav-namespace}o-nav__item {
            display: list-item;
        }

            .#{$tree-nav-namespace}o-nav__link {
                display: block;
            }

    }

}





@if ($tree-enable-nav--fit == true) {

    // Modifier: `o-nav--fit`
    // Force a nav to occupy 100% of the available width of its parent.
    // =========================================================================

    .#{$tree-nav-namespace}o-nav--fit {
        display: table;
        width: 100%;

        .#{$tree-nav-namespace}o-nav__item {
            display: table-cell;
        }

            .#{$tree-nav-namespace}o-nav__link {
                display: block;
            }

    }

}
