// *************************************
//
//   #NAV
//
// *************************************

// The nav object creates navigation items out of a `ul' or `ol'.

// Predefine the variables below in order to alter and enable specific features.
$tree-nav-namespace:         $tree-namespace !default;

$tree-nav-padding:           $tree-base-spacing-unit !default;
$tree-nav-padding--tiny:       quarter($tree-nav-padding) !default;
$tree-nav-padding--small:        halve($tree-nav-padding) !default;
$tree-nav-padding--large:       double($tree-nav-padding) !default;
$tree-nav-padding--huge:     quadruple($tree-nav-padding) !default;

$tree-enable-nav--tiny:      false !default;
$tree-enable-nav--small:     false !default;
$tree-enable-nav--large:     false !default;
$tree-enable-nav--huge:      false !default;
$tree-enable-nav--clean:     false !default;
$tree-enable-nav--stacked:   false !default;
$tree-enable-nav--fit:       false !default;






.#{$tree-nav-namespace}nav,
%#{$tree-nav-namespace}nav {
    margin:  0;
    padding: 0;
    list-style: none;
}

    .#{$tree-nav-namespace}nav__item,
    %#{$tree-nav-namespace}nav__item {
        display: inline-block;
    }

        .#{$tree-nav-namespace}nav__link,
        %#{$tree-nav-namespace}nav__link {
            display: inline-block;
            padding: $tree-nav-padding;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }





@if ($tree-enable-nav--tiny == true) {

    // Tiny nav.

    .#{$tree-nav-namespace}nav--tiny,
    %#{$tree-nav-namespace}nav--tiny {

        .#{$tree-nav-namespace}nav__link,
        %#{$tree-nav-namespace}nav__link {
            padding: $tree-nav-padding--tiny;
        }

    }

}

@if ($tree-enable-nav--small == true) {

    // Small nav.

    .#{$tree-nav-namespace}nav--small,
    %#{$tree-nav-namespace}nav--small {

        .#{$tree-nav-namespace}nav__link,
        %#{$tree-nav-namespace}nav__link {
            padding: $tree-nav-padding--small;
        }

    }

}

@if ($tree-enable-nav--large == true) {

    // Large nav.

    .#{$tree-nav-namespace}nav--large,
    %#{$tree-nav-namespace}nav--large {

        .#{$tree-nav-namespace}nav__link,
        %#{$tree-nav-namespace}nav__link {
            padding: $tree-nav-padding--large;
        }

    }

}

@if ($tree-enable-nav--huge == true) {

    // Huge nav.

    .#{$tree-nav-namespace}nav--huge,
    %#{$tree-nav-namespace}nav--huge {

        .#{$tree-nav-namespace}nav__link,
        %#{$tree-nav-namespace}nav__link {
            padding: $tree-nav-padding--huge;
        }

    }

}





@if ($tree-enable-nav--clean == true) {

    // `.nav--clean` - removes whitespace caused by `inline-block`.

    .#{$tree-nav-namespace}nav--clean,
    %#{$tree-nav-namespace}nav--clean {
        letter-spacing: -.31em;
        word-spacing: -.43em;
        white-space: nowrap;

        .#{$tree-nav-namespace}nav__item,
        %#{$tree-nav-namespace}nav__item {
            letter-spacing: normal;
            word-spacing: normal;
        }

    }

}





@if ($tree-enable-nav--stacked == true) {

    // `.nav--stacked` extends `.nav` and throws the list into vertical mode.

    .#{$tree-nav-namespace}nav--stacked,
    %#{$tree-nav-namespace}nav--stacked {

        .#{$tree-nav-namespace}nav__item,
        %#{$tree-nav-namespace}nav__item {
            display: list-item;
        }

            .#{$tree-nav-namespace}nav__link,
            %#{$tree-nav-namespace}nav__link {
                display: block;
            }

    }

}





@if ($tree-enable-nav--fit == true) {

    // Force a nav to occupy 100% of the available width of its parent. Extends
    // `.nav`.

    .#{$tree-nav-namespace}nav--fit,
    %#{$tree-nav-namespace}nav--fit {
        display: table;
        width: 100%;

        .#{$tree-nav-namespace}nav__item,
        %#{$tree-nav-namespace}nav__item {
            display: table-cell;
        }

            .#{$tree-nav-namespace}nav__link,
            %#{$tree-nav-namespace}nav__link {
                display: block;
            }

    }

}
